.add-user-wrapper {
  height: 100%;
  width: 100%;
}

.add-user-form {
  margin: 0 auto;
}

.user-box {
  max-width: 500px;
}

.card-title {
  font-weight: 100;
  font-size: 2rem;
  margin: 20px auto 50px auto;
}

.add-user-wrapper .full-width,
.add-user-wrapper .btn-block {
  width: 100%;
}

.add-user-wrapper mat-card-header {
  text-align: center;
  width: 100%;
  display: block;
  font-weight: 700;
}

.add-user-wrapper mat-card-header mat-card-title {
  font-weight: 500;
  font-size: 1.8rem;
  font-family: helvetica;
  margin: 2;
  color: black;
}

.add-user-wrapper .mat-card {
  padding: 40px 70px 50px;
}

.add-user-wrapper .mat-stroked-button {
  border: 1px solid currentColor;
  line-height: 45px;
  background: #fff7fa;
}

.password-card {
  margin-bottom: 50px;
}

.cred-text {
  font-size: 1.3rem;
  font-weight: 100;
  margin-bottom: 5px;
}

.password {
  color: rgb(57, 200, 88);
}
