<div class="add-user-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="user-box">
      <mat-card-header>
        <mat-card-title>Ajouter un évaluateur</mat-card-title>
      </mat-card-header>
      <form [formGroup]="credentials" (ngSubmit)="onSubmit()">
      <div class="add-user-form">
        <mat-card-content>
          <mat-form-field class="full-width">
            <input matInput placeholder="Username" formControlName="username"/>
          </mat-form-field>
          <mat-form-field class="full-width" >
            <input matInput placeholder="Lastname" formControlName="lastname"/>
          </mat-form-field>
          <mat-form-field class="full-width">
            <input matInput placeholder="Firstname"formControlName="firstname" />
          </mat-form-field>
        </mat-card-content>
        <button mat-stroked-button color="accent" class="btn-block" [disabled]='!credentials.valid'>
          Ajouter
        </button>
      </div>
      </form>
    </mat-card>
  </div>
  