.tab-container-height {
  min-height: calc(100vh - 64px - 50px);
}

.table-container {
  width: 100%;
  padding: 50px;
}

.mat-row {
  position: relative;
}

.mat-row-link {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.action {
  color: #3f51b5;
  font-weight: 500;
  cursor: pointer;
  user-select: none;
}

::ng-deep .mat-tab-label-content {
  user-select: none;
}

.not-found-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.not-found {
  width: 200px;
}

.not-found-text {
  font-size: 2rem;
  font-weight: 100;
  margin-top: 50px;
  text-align: center;
}
