<div class="container-height">
  <mat-tab-group (selectedTabChange)="getData()">
    <mat-tab label="Candidatures">
      <div
        class="tab-container-height"
        fxLayout="row"
        fxLayoutAlign="center top"
        *ngIf="!loading"
      >
        <div *ngIf="!!candidats?.length" class="table-container">
          <mat-table [dataSource]="candidats" style="cursor: pointer">
            <ng-container matColumnDef="nom">
              <mat-header-cell *matHeaderCellDef>Nom</mat-header-cell>
              <mat-cell *matCellDef="let row">
                {{ row.candidateLastName }} {{ row.candidateFirstName }}
                <a
                  [routerLink]="'/evaluation/' + row.id"
                  class="mat-row-link"
                ></a>
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="dateDeport">
              <mat-header-cell *matHeaderCellDef>Date de dépôt</mat-header-cell>
              <mat-cell *matCellDef="let row"> {{ row.createdDate }} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="refrenceToken">
              <mat-header-cell *matHeaderCellDef>Référence</mat-header-cell>
              <mat-cell *matCellDef="let row">
                {{ row.refrenceToken }}
              </mat-cell>
            </ng-container>

            <mat-header-row
              *matHeaderRowDef="['nom', 'dateDeport', 'refrenceToken']"
            ></mat-header-row>
            <mat-row
              *matRowDef="
                let row;
                columns: ['nom', 'dateDeport', 'refrenceToken']
              "
            ></mat-row>
          </mat-table>
        </div>
        <div *ngIf="!candidats?.length" class="not-found-container">
          <img class="not-found" src="assets/resume.svg" alt="" />
          <div class="not-found-text">Il n'y a pas de candidatures.</div>
        </div>
      </div>
    </mat-tab>

    <mat-tab label="Evaluateurs">
      <div
        class="tab-container-height"
        fxLayout="row"
        fxLayoutAlign="center top"
      >
        <div *ngIf="!!evaluateurs?.length" class="table-container">
          <mat-table [dataSource]="evaluateurs" style="cursor: pointer">
            <ng-container matColumnDef="state">
              <mat-header-cell *matHeaderCellDef>État</mat-header-cell>
              <mat-cell *matCellDef="let row">
                <mat-icon *ngIf="row.blocked" mat-list-icon color="primary"
                  >person_off</mat-icon
                >
                <mat-icon *ngIf="!row.blocked" mat-list-icon color="primary"
                  >person</mat-icon
                >
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="nom">
              <mat-header-cell *matHeaderCellDef>Nom</mat-header-cell>
              <mat-cell *matCellDef="let row">
                {{ row.firstName }}
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="prenom">
              <mat-header-cell *matHeaderCellDef>Prénom</mat-header-cell>
              <mat-cell *matCellDef="let row">
                {{ row.lastName }}
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="action">
              <mat-header-cell *matHeaderCellDef>Action</mat-header-cell>
              <mat-cell
                *matCellDef="let row"
                [ngClass]="{
                  'block-cell': !row.blocked,
                  'unblock-cell': row.blocked
                }"
              >
                <span (click)="toggleBlock(row.id)" class="action">
                  {{ row.blocked ? "Activer" : "Désactiver" }}
                </span>
              </mat-cell>
            </ng-container>

            <mat-header-row
              *matHeaderRowDef="['state', 'nom', 'prenom', 'action']"
            ></mat-header-row>
            <mat-row
              *matRowDef="
                let row;
                columns: ['state', 'nom', 'prenom', 'action']
              "
            ></mat-row>
          </mat-table>
        </div>
        <div *ngIf="!evaluateurs?.length" class="not-found-container">
          <img class="not-found" src="assets/group.svg" alt="" />
          <div class="not-found-text">Il n'y a pas encore d'evaluateurs.</div>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Ajouter Evaluateur">
      <div
        class="tab-container-height"
        fxLayout="row"
        fxLayoutAlign="center top"
      >
        <app-add-user></app-add-user>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
