<div class="container-height">
  <mat-tab-group>
    <mat-tab label="Candidatures">
      <div
        class="tab-container-height"
        fxLayout="row"
        fxLayoutAlign="center top"
      >
        <div class="table-container">
          <mat-table [dataSource]="candidats" style="cursor: pointer">
            <ng-container matColumnDef="nom">
              <mat-header-cell *matHeaderCellDef>Nom</mat-header-cell>
              <mat-cell *matCellDef="let row">
                {{ row.candidateLastName }} {{ row.candidateFirstName }}
                <a
                  [routerLink]="'/evaluation/' + row.id"
                  class="mat-row-link"
                ></a>
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="dateDeport">
              <mat-header-cell *matHeaderCellDef>Date de dépôt</mat-header-cell>
              <mat-cell *matCellDef="let row"> {{ row.createdDate }} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="refrenceToken">
              <mat-header-cell *matHeaderCellDef>Référence</mat-header-cell>
              <mat-cell *matCellDef="let row">
                {{ row.refrenceToken }}
              </mat-cell>
            </ng-container>

            <mat-header-row
              *matHeaderRowDef="['nom', 'dateDeport', 'refrenceToken']"
            ></mat-header-row>
            <mat-row
              *matRowDef="
                let row;
                columns: ['nom', 'dateDeport', 'refrenceToken']
              "
            ></mat-row>
          </mat-table>
        </div>
      </div>
    </mat-tab>

    <mat-tab label="Evaluateurs">
      <div
        class="tab-container-height"
        fxLayout="row"
        fxLayoutAlign="center top"
      >
        <div class="table-container">
          <mat-table [dataSource]="evaluateurs" style="cursor: pointer">
            <ng-container matColumnDef="nom">
              <mat-header-cell *matHeaderCellDef>Nom</mat-header-cell>
              <mat-cell *matCellDef="let row">
                {{ row.firstName }}
              </mat-cell>
            </ng-container>

            <!-- TODO: Temporary -->
            <ng-container matColumnDef="prenom">
              <mat-header-cell *matHeaderCellDef>Prénom</mat-header-cell>
              <mat-cell *matCellDef="let row">
                {{ row.lastName }}
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="action">
              <mat-header-cell *matHeaderCellDef>Action</mat-header-cell>
              <mat-cell
                *matCellDef="let row"
                [ngClass]="{
                  'block-cell': !row.blocked,
                  'unblock-cell': row.blocked
                }"
              >
                <span
                  style="cursor: pointer; user-select: none"
                  (click)="toggleBlock(row.id)"
                  >{{
                    row.blocked ? "Débloquer Compte" : "Bloquer Compte"
                  }}</span
                >
              </mat-cell>
            </ng-container>

            <mat-header-row
              *matHeaderRowDef="['nom', 'prenom', 'action']"
            ></mat-header-row>
            <mat-row
              *matRowDef="let row; columns: ['nom', 'prenom', 'action']"
            ></mat-row>
          </mat-table>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Third">
      <div
        class="tab-container-height"
        fxLayout="row"
        fxLayoutAlign="center center"
      >
        <p>Content 3</p>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
