<mat-toolbar color="primary" class="app-header">
  <div routerLink="/home" class="logo">Promotions de Grade</div>
  <span class="nav-tool-items">
    <a
      *ngIf="!isAuth"
      mat-button
      mat-raised-button
      mat-button
      routerLink="login"
    >
      Se connecter
    </a>
    <a
      *ngIf="isAuth"
      mat-button
      mat-raised-button
      mat-button
      (click)="logout()"
    >
      Se déconnecter
    </a>
  </span>
</mat-toolbar>
<div style="height: 64px"></div>
<mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>

<router-outlet></router-outlet>
