<mat-toolbar color="primary" class="app-header">
  <div routerLink="/home" class="logo">Promotions de Grade</div>
  <span class="nav-tool-items">
    <a *ngIf="!isAuth" mat-button routerLink="login" routerLinkActive="active">
      Se connecter
    </a>
    <a
      *ngIf="!isAuth"
      mat-button
      mat-raised-button
      routerLink="register"
      routerLinkActive="active"
      >S'inscrire</a
    >
    <!-- <a
      *ngIf="!isAdmin"
      mat-button
      mat-raised-button
      routerLink="home"
      routerLinkActive="active"
      >S'inscrire</a
    > -->
  </span>
</mat-toolbar>
<div style="height: 64px"></div>
<router-outlet></router-outlet>
