.candidature-container {
  width: 100%;
  padding: 100px 50px;
}

.candidature-first-title {
  font-size: 3rem;
  font-weight: 100;
  text-align: center;
  margin: 75px;
}

.header-card {
  margin-bottom: 50px;
  padding: 100px 50px;
}

.candidature-first-description {
  text-align: center;
  font-size: 2rem;
  line-height: 2.5rem;
  font-weight: 100;
  max-width: 1000px;
  margin: 75px auto;
}

.candidature-divider {
  position: unset !important;
  max-width: 80%;
  margin: 0px auto;
}

.candidature-vertical-stepper {
  margin-top: 75px;
  padding: 75px;
  /* min-height: 900px; */
}

.info-perso-form {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 50px;
}

.info-perso-form-half {
  max-width: 400px;
  width: 100%;
  margin: 0 50px;
}

.info-perso-input {
  width: 100%;
}

.passage-radio-group {
  display: flex;
  flex-direction: column;
}

.passage-radio {
  margin: 10px 0;
  font-size: 1rem;
}

.passage-form {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 10px;
}

.passage-form-half {
  min-width: 300px;
  margin: 20px 40px;
  display: flex;
  justify-content: center;
}

.candidature-sub-title {
  font-size: 1.3rem;
  font-weight: 100;
  margin: 20px 0;
}

.cadre-grade-radio-sub-group {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.cadre-grade-radio-sub-group > div {
  margin: 0 20px;
}

.cadre-grade-radio-titile {
  font-weight: 500;
  font-size: 1rem;
  padding-top: 15px;
}

.passage-mat-radio-group-container {
  display: flex;
  flex-wrap: wrap;
}

.candidature-title {
  font-size: 1.4rem;
  font-weight: 500;
  margin-top: 50px;
}
