<div
  class="container-height candidature-container"
  fxLayout="row"
  fxLayoutAlign="center top"
>
  <div>
    <mat-card class="header-card mat-elevation-z2">
      <h1 class="candidature-first-title">Dossier de candidature</h1>
      <mat-divider class="candidature-divider"></mat-divider>
      <div class="candidature-first-description">
        Dossier de candidature à remplir par l'enseignant-chercheur en vue
        d'avancement de grade à grade
      </div>
    </mat-card>

    <mat-vertical-stepper
      [linear]="false"
      class="mat-elevation-z2 candidature-vertical-stepper"
    >
      <mat-step [stepControl]="donneesPersonnelles">
        <ng-template matStepLabel>Données personnelles</ng-template>
        <form [formGroup]="donneesPersonnelles" class="info-perso-form">
          <div class="info-perso-form-half">
            <mat-form-field class="info-perso-input" appearance="outline">
              <mat-label>Nom</mat-label>
              <input matInput placeholder="Nom" formControlName="nom" />
            </mat-form-field>

            <mat-form-field class="info-perso-input" appearance="outline">
              <mat-label>Prénom</mat-label>
              <input matInput placeholder="Prénom" formControlName="prenom" />
            </mat-form-field>

            <mat-form-field class="info-perso-input" appearance="outline">
              <mat-label>Département</mat-label>
              <input
                matInput
                placeholder="Département"
                formControlName="departement"
              />
            </mat-form-field>

            <mat-form-field class="info-perso-input" appearance="outline">
              <mat-label>Date de recrutement</mat-label>
              <input
                matInput
                [matDatepicker]="pickerRecrutement"
                formControlName="dateRecrutement"
              />
              <mat-datepicker-toggle
                matSuffix
                [for]="pickerRecrutement"
              ></mat-datepicker-toggle>
              <mat-datepicker #pickerRecrutement></mat-datepicker>
            </mat-form-field>
          </div>

          <div class="info-perso-form-half">
            <mat-form-field class="info-perso-input" appearance="outline">
              <mat-label>Grade actuel</mat-label>
              <mat-select formControlName="grade" required>
                <mat-option>--</mat-option>
                <mat-option *ngFor="let grade of grades" [value]="grade">
                  {{ grade.name }}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="false">Veuillez choisir un grade</mat-error>
            </mat-form-field>

            <mat-form-field class="info-perso-input" appearance="outline">
              <mat-label>Téléphone</mat-label>
              <input
                type="tel"
                matInput
                placeholder="Téléphone"
                formControlName="telephone"
              />
              <mat-icon matSuffix>smartphone</mat-icon>
            </mat-form-field>

            <mat-form-field class="info-perso-input" appearance="outline">
              <mat-label>Fax</mat-label>
              <input
                type="tel"
                matInput
                placeholder="Fax"
                formControlName="fax"
              />
              <mat-icon matSuffix>phone</mat-icon>
            </mat-form-field>

            <mat-form-field class="info-perso-input" appearance="outline">
              <mat-label>E-mail</mat-label>
              <input matInput placeholder="E-mail" formControlName="email" />
              <mat-icon matSuffix>alternate_email</mat-icon>
            </mat-form-field>
          </div>
        </form>
      </mat-step>

      <mat-step [stepControl]="passageCadreGrade">
        <ng-template matStepLabel>Type de passage, Cadre et Grade</ng-template>
        <form [formGroup]="passageCadreGrade">
          <div>
            <div class="candidature-sub-title">Type d’avancement</div>
            <mat-form-field appearance="outline">
              <mat-label>Sélectionner</mat-label>
              <mat-select formControlName="typePassage">
                <mat-option
                  *ngFor="let element of typeAvancement"
                  [value]="element.value"
                >
                  {{ element.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div>
            <div class="candidature-sub-title">Cadre et grade</div>
            <mat-form-field appearance="outline">
              <mat-label>Sélectionner</mat-label>
              <mat-select formControlName="cadreGrade">
                <mat-option
                  *ngFor="let element of cadreGrade"
                  [value]="element.name"
                >
                  {{ element.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </form>
      </mat-step>

      <mat-step>
        <ng-template matStepLabel>Activités Pédagogiques</ng-template>
        <mat-vertical-stepper [linear]="false">
          <mat-step>
            <ng-template matStepLabel>Production pédagogique</ng-template>
            <app-justificatif
              title="Ouvrages ou manuels"
              [(data)]="ouvragesManuels"
            ></app-justificatif>
            <app-justificatif
              title="Polycopiés d’enseignement"
              [(data)]="polycopiesEnseignement"
            ></app-justificatif>
            <app-justificatif
              title="Supports et procédés didactiques"
              [(data)]="supportsProcedesDidactiques"
            ></app-justificatif>
          </mat-step>

          <mat-step>
            <ng-template matStepLabel>Encadrement pédagogique</ng-template>
            <app-justificatif
              title="Encadrement de projets - PFE Cycle Ingénieur"
              [(data)]="encadrementProjetsPFE"
            ></app-justificatif>
            <app-justificatif
              title="Encadrement de projets - PFA Cycle Ingénieur"
              [(data)]="encadrementProjetsPFA"
            ></app-justificatif>
            <app-justificatif
              title="Mémoires de fin d’études - Master"
              [(data)]="memoiresFinEtudesMaster"
            ></app-justificatif>
            <app-justificatif
              title="Encadrement de stages"
              [(data)]="encadrementStages"
            ></app-justificatif>
            <app-justificatif
              title="Encadrement de ressources humaines"
              [(data)]="encadrementRessourcesHumaines"
            ></app-justificatif>
          </mat-step>

          <mat-step>
            <ng-template matStepLabel>
              Responsabilités pédagogiques et administratives
            </ng-template>
            <app-justificatif
              title="Gestion d’un département"
              [(data)]="gestionDepartement"
            ></app-justificatif>
            <app-justificatif
              title="Responsable de Filière ou de Module"
              [(data)]="responsableFiliereModule"
            ></app-justificatif>
            <app-justificatif
              title="Gestion d’une formation universitaire"
              [(data)]="gestionFormationUniversitaire"
            ></app-justificatif>
            <app-justificatif
              title="Enseignement de Master"
              [(data)]="enseignementMaster"
            ></app-justificatif>
            <app-justificatif
              title="Membre du Conseil d’Université"
              [(data)]="membreConseilUniversite"
            ></app-justificatif>
            <app-justificatif
              title="Membre de Commission Paritaire"
              [(data)]="membreCommissionParitaire"
            ></app-justificatif>
            <app-justificatif
              title="Membre du Conseil de l’Etablissement"
              [(data)]="membreConseilEtablissement"
            ></app-justificatif>
            <app-justificatif
              title="Membre de la Commission scientifique de l’Etablissement"
              [(data)]="membreCommissionScientifique"
            ></app-justificatif>
            <app-justificatif
              title="Membre des commissions de réforme ou d’expertise pédagogique nationale ou internationale"
              [(data)]="membreCommissionReformeExpertisePedagogique"
            ></app-justificatif>
          </mat-step>
        </mat-vertical-stepper>
      </mat-step>

      <mat-step>
        <ng-template matStepLabel>Activités de Recherche</ng-template>
        <mat-vertical-stepper [linear]="false">
          <mat-step>
            <ng-template matStepLabel>Production scientifique</ng-template>
            <app-justificatif
              title="Articles scientifiques dans des revues spécialisées - Catégorie 1"
              [(data)]="articlesScientifiquesCategorie1"
            ></app-justificatif>
            <app-justificatif
              title="Articles scientifiques dans des revues spécialisées - Catégorie 2"
              [(data)]="articlesScientifiquesCategorie2"
            ></app-justificatif>
            <app-justificatif
              title="Ouvrages de recherche scientifiques"
              [(data)]="ouvragesRechercheScientifiques"
            ></app-justificatif>
            <app-justificatif
              title="Publications dans des actes de congrès à comité de lecture"
              [(data)]="publicationsActesCongres"
            ></app-justificatif>
            <app-justificatif
              title="Dépôt de Brevets ou réalisation de prototypes"
              [(data)]="depotBrevetsRealisationPrototypes"
            ></app-justificatif>
          </mat-step>

          <mat-step>
            <ng-template matStepLabel>
              Encadrement (E) ou Co-encadrement scientifique
            </ng-template>
            <app-justificatif
              title="Encadrement ou et co-encadrement de thèses de doctorat"
              [(data)]="encadrementCoencadrementThesesDoctorat"
            ></app-justificatif>
            <app-justificatif
              title="Encadrement ou et co-encadrement de travaux de recherche (Master)"
              [(data)]="encadrementCoencadrementTravauxRechercheMaster"
            ></app-justificatif>
            <app-justificatif
              title="Rapporteur ou Membre de jury de thèse ou habilitation scientifique"
              [(data)]="rapporteurMembreJuryNote"
            ></app-justificatif>
          </mat-step>

          <mat-step>
            <ng-template matStepLabel>
              Responsabilités scientifiques
            </ng-template>
            <app-justificatif
              title="Laboratoire, Equipe et CED"
              [(data)]="laboratoireEquipeCed"
            ></app-justificatif>
            <app-justificatif
              title="Pôles de Compétence et Réseaux (nationaux ou internationaux)"
              [(data)]="polesCompetenceReseaux"
            ></app-justificatif>
            <app-justificatif
              title="CED, Doctorat, Master"
              [(data)]="cedDoctoratMaster"
            ></app-justificatif>
            <app-justificatif
              title="Projets ou contrats de recherche financés"
              [(data)]="projetsContratsRechercheFinances"
            ></app-justificatif>
            <app-justificatif
              title="Activités d’expertise, d’évaluations scientifiques, nationales ou internationales"
              [(data)]="activitesExpertiseEvaluationsScientifiques"
            ></app-justificatif>
            <app-justificatif
              title="Organisation de manifestations scientifiques nationales ou internationales"
              [(data)]="organisationManifestationsScientifiques"
            ></app-justificatif>
            <app-justificatif
              title="Organisation de séminaire"
              [(data)]="organisationSeminaire"
            ></app-justificatif>
          </mat-step>
        </mat-vertical-stepper>
      </mat-step>
    </mat-vertical-stepper>
    <button (click)="submit()">submit</button>
  </div>
</div>
